.my-stack-pane {
    -fx-background-image: url("img/burjKhalifa.jpg");
    -fx-background-color: transparent;
    -fx-background-position: right;
    -fx-background-size: 170px 500px;
    -fx-background-repeat: no-repeat;
}

.slider .thumb {
    -fx-background-color: transparent;
    -fx-background-image: url("img/sliderBackground.png");
    -fx-background-position: right center;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;

    -fx-pref-width: 200;
    -fx-pref-height: 20;
}

.slider .track {
    -fx-pref-width: 200;
    -fx-opacity: 0;
}

.slider {
    -fx-orientation: vertical;
    -fx-min-width: 200;
    -fx-min-height: 500;
    -fx-snap-to-ticks: true;
}